{% extends "index.html" %} {% block "content" %}
<div class="publications-container">
  <div class="post">
    <div class="post-info">
      <h1 class="text-center">Development Team</h1>
      <h5 class="text-center">Grupo 3:</h5>
      <div class="row">
      <!-- Integrante 1 -->
        <div class="col-md-4 text-center">
          <img src="" alt="Diana Guzman" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
          <h5>Diana Guzman</h5>
          <p>Backend Developer</p>
        </div>
      <!-- Integrante 2 -->
        <div class="col-md-4 text-center">
          <img src="" alt="Claudia Aviles" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
          <h5>Claudia Aviles</h5>
          <p>Backend Developer</p>
        </div>
      <!-- Integrante 3 -->
        <div class="col-md-4 text-center">
          <img src="" alt="Valeria Peralta" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
          <h5>Valeria Peralta</h5>
          <p>Frontend Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock "content" %}