{% extends "index.html" %} {% block "content" %}
<h1>Perfil de usuario</h1>
<h2>Usuario: {{profile.user.username}}</h2>
<br />
<p>{{profile.biography}}</p>
<br />
{% if request.user in profile.user.amigos.all %}
<!-- Si el usuario autenticado ya sigue al perfil -->
<form method="POST" action="{% url 'seguirUser' profile.user.id %}">
  {% csrf_token %}
  <button type="submit">Dejar de seguir</button>
</form>
{% else %}
<!-- Si el usuario autenticado no sigue al perfil -->
<form method="POST" action="{% url 'seguirUser' profile.user.id %}">
  {% csrf_token %}
  <button type="submit">Seguir</button>
</form>
{% endif %}

<br />
{%if profile.avatar%}
<img src="{{profile.avatar.url}}" alt="Avatar" />
{%else%}
<p>No avatar uploades.</p>
{%endif%} {% endblock%}
