{% extends "index.html" %} {% block "content" %}
<div class="profile-container">
  <div class="profile-header">
    <h1>Perfil de {{ user.username }}</h1>
  </div>

  <div class="profile-info">
    <div class="profile-avatar">
      {% if profile.avatar %}
      <img
        class="rounded-circle avatar"
        src="{{ profile.avatar.url }}"
        alt="Avatar"
      />
      {% else %}
      <p>Sin foto de perfil.</p>
      {% endif %}
    </div>

    <div class="profile-details">
      <h2>{{ user.username }}</h2>
      <p>{{ profile.biography }}</p>
      <div>
        <p>Following: {{ user.numero_de_amigos }}</p>
        <p>Followers: {{ user.numero_de_seguidores }}</p>
      </div>
    </div>
  </div>

  <div class="profile-actions">
    {% if sigue_al_usuario %}
    <!-- Si ya sigues al perfil -->
    <form method="POST" action="{% url 'seguirUser' user.id %}">
      {% csrf_token %}
      <button type="submit" class="btn">
        <span class="material-symbols-outlined" style= "font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24">favorite_border</span> Dejar de seguir
      </button>
    </form>
    {% else %}
    <!-- Si no sigues al perfil -->
    <form method="POST" action="{% url 'seguirUser' user.id %}">
      {% csrf_token %}
      <button type="submit" class="btn">
        <span class="material-symbols-outlined">favorite_border</span> Seguir
      </button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock%}
